.artist-info-block {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 80vw;
  margin: 50px auto;
  background-color: rgba(78, 144, 144, 0.352);
}
.artist-info-block-container {
  width: 90%;
}
.artist-info-block__artist-img, .artist-info-block__artist-img img {
  width: 40vw;
  height: 40vw;
  min-width: 200px;
  min-height: 200px;
  max-width: 350px;
  max-height: 350px;
  margin: 20px 0;
}
.artist-info-block__artist-name, .artist-info-block__artist-bio, .artist-info-block__artist-projects {
  display: block;
  padding: 0;
}
.artist-info-block__artist-projects {
  font-weight: bold;
}
.artist-info-block__artist-projects-list, 
.artist-info-block__artist-bio {
  margin-bottom: 20px;
}
.artist-info-block__artist-website {
  margin: 0 auto;
  margin-bottom: 50px;
  transition-property: text-shadow, transform;
  transition-duration: 100ms;
  transition-timing-function: ease-in-out;
}
.artist-info-block__artist-website:hover {
  text-shadow: 0 0 10px var(--nav-hover-color);
  transform: scale(1.03);
  font-style: italic;
}