:root {
  --header-footer-color: rgba(14, 14, 43, 0.345);
  --font-color: rgb(236, 245, 234);
  --background-color: rgb(9, 61, 25);
  --button-color: rgb(43, 33, 119);
}

* {
  font-size: 2.48vw;
  font-weight: 500;
  font-family: 'Courier New', Courier, monospace;
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  scroll-behavior: smooth;
  color: var(--font-color);
  box-sizing: border-box;
}
body {
  background-color: var(--background-color);
  color: var(--font-color);
  overflow-x: hidden;
}

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  background: 
    linear-gradient(var(--header-footer-color) 99%,
    rgba(143, 143, 143, 0.7));
}
header * {
  font-size: 20px;
}
header a {
  min-width: 90px;
  margin-left: 3%;
}
.nav-support-item a {
  display: block;
  white-space: nowrap;
  min-width: fit-content;
}

.title-text, .title-text:hover, .title-text:active {
  color: var(--font-color);
  cursor: pointer;
}
.fa-logo {
  margin-left: 5%;
  border: 1px solid rgb(107, 107, 107);
  width: 80px;
  align-self: center;
  border-radius: 50%;
  transition: all .2s;
}
.fa-logo:hover {
  box-shadow: 0 0 3px .5px rgba(255, 255, 255, 0.425);
}
.spacer {
  flex-grow: 2;
}

/* Site Navigation */
.nav-container {
  display: flex;
  flex-grow: 3;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
}
.nav-container a {
  text-align: left;
  flex-grow: 2;
}
.nav-list {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  color: var(--font-color);
  list-style: none;
}
.nav-item {
  display: flex;
  flex-grow: 3;
  flex-shrink: 2;
  margin: 10px;
  transition: all 0.2s;
  cursor: pointer;
}
.nav-item a {
  text-decoration: none;
}
.nav-item span {
  font-style: italic;
}
.nav-item:link, .nav-item:visited {
  color: var(--font-color);
  text-decoration: none;
}
.nav-item:hover {
  text-shadow: 0 0 10px var(--font-color);
  /* transform: scale(1.05); */
}
/* having difficulties with this portion.
It sees as though the scale attribute on .nav-item:hover 
is messing with the display attribute here. */
.nav-inner-dropdown {
  display: none;
}
.nav-item:hover .nav-inner-dropdown {
  display: block;
  position: absolute;
  white-space: nowrap;
  padding-top: 35px;
  text-shadow: none;
}
.nav-item ul {
  position: relative;
  left: -10px;
  top: -10px;
}
.nav-item ul li a span {
  font-style: italic;
}

/* Socials */
.socials-container {
  display: flex;
  margin: 0px;
  margin-right: 3%;
  width: fit-content;
  flex-flow: row nowrap;
  height: fit-content;
  align-items: center;
}
.socials-container a {
  max-width: 30%;
  min-width: 30%;
  padding: 5px 0;
}
.socials-container a img {
  width: 100%;
  height: 25px;
  margin: 0;
  margin-right: 10px;
  transition: all .2s;
}
.socials-container a img:hover {
  scale: 1.25;
  background-color: rgba(255, 255, 255, 0.147);
  box-shadow: 0 0 5px .3px rgba(255, 255, 255, 0.147);
  border-radius: 50%;
}

/* Page Section */
main {
  font-size: 1em;
  margin: auto;
  height: fit-content;
  min-width: 600px;
  max-width: 100%;
  min-height: 80vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
section {
  margin: 10px;
  margin: 20px 0px;
}
h1 {
  font-size: 1rem;
  font-weight: bold;
}
.page-heading {
  font-size: 4vw;
  padding: 10px 0;
  overflow: hidden;
}
.page-subheading {
  font-size: 2vw;
  padding: 5px 0;
}
.italic {
  font-style: italic;
}

/* buttons */
.button-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  height: fit-content;
  margin: 20px 0;
  overflow: hidden;
  min-width: 300px;
  padding: 5px;
}
.button-section a button {
  overflow: hidden;
}
.button-section a button span {
  font-size: large;
  font-style: italic;
  font-weight: bold;

}
button {
  background: var(--button-color);
  cursor: pointer;
  border-radius: 15px;
  height: 60px;
  width: 290px;
  font-size: large;
  font-weight: 700;
  color: var(--font-color);
  margin: 5px 10px;
  transition: all .3s;
  border: 1px solid rgb(24, 24, 72);
}
button:hover {
  position: relative;
  scale: 1.05;
}

/* Footer */
footer {
  display: grid;
  grid-template-columns: 1fr 300px 1fr;
  height: 100px;
  background: linear-gradient(rgba(143, 143, 143, 0.7), var(--header-footer-color) 1%);
  margin-bottom: 0px;
}
.copyright-container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.copyright, .copyright span {
  color: var(--font-color);
  font-size: large;
  text-align: center;
  font-style: italic;
}
.contact {
  color: var(--font-color);
  font-size: large;
  text-align: center;
}
.contact span {
  color: var(--font-color);
  font-style: italic;
  font-weight: 900;
}
.footer-right {
  justify-items: center;
}
.small-nav-box {
  display: none;
}
.small-page-nav-list {
  display: none;
}

@media only screen and (max-width: 600px) {
  * {
    font-size: 15px;
  }
  header {
    justify-content: space-between;
  }
  h1 {
    font-size: 20px;
  }
  .nav-container {
    display: none;
  }
  .spacer {
    display: none;
  }
  .small-nav-box {
    position: absolute;
    display: block;
    right: 30px;
    top: 30px;
    width: 40px;
    height: 50px;
    transition: all 0.2s;
  }
  .small-nav-box:hover {
    scale: 1.05;
  }
  .small-nav-box:hover .small-page-nav-list, .small-page-nav-list:hover {
    display: block;
    text-align: right;
    position: relative;
    left: -43px;
  }
  .small-page-nav-list * {
    font-size: 18px;
    display: block;
    margin: 0px;
    padding-top: 3px;
    scale: 1;
    float: right;
  }
  .small-page-nav-list ul li:hover {
    scale: 1.05;
  }
  .small-page-nav-list {
    min-width: 80px;
    height: 120px;
  }
  .nav-support-item {
    white-space: wrap;
  }
  .socials-container {
    display: none;
  }
  .maingrid {
    width: 100%;
  }
  main {
    min-width: auto;
    width: 100%;
  }
  .page-heading {
    font-size: 20px;
  }
  .page-subheading {
    font-size: 15px;
  }
  .button-section {
    width: fit-content;
    height: fit-content;
    overflow: hidden;
  }
  .button-section a button{
    font-size: large;
  }
  .button-section a button span {
    font-size: large;
    font-style: italic;
    font-weight: bold;
  }
  .copyright span {
    font-size: large;
  }
}  

@media only screen and (min-width: 1000px) {
  * {
    font-size: 25px;
  }
  .page-heading {
    margin: 2% 0;
    font-size: 40px;
  }
  .page-subheading {
    margin: 2% 0;
    font-size: 30px;
  }
  .button-section a button {
    font-size: large;
  }
  .button-section a button span {
    font-style: italic;
    font-weight: bold;
  }
}

