.about-main {
  width: 80%;
}
.about-heading {
  display: block;
  width: 100%;
  margin: 0 0 30px 0;
}
.about-fable, .commitment-statement{
  padding: 10px;
  margin-bottom: 20px;
}
.commitment-objectives {
  margin-top: 20px;
}
.about-fable {
  border: 1px dashed white;
}
.commitment-objectives ol, .commitment-objectives ul{
  list-style-position:inside;
}
.commitment-objectives ol li, .commitment-objectives ul li {
  padding: 5px 30px;
}
.commitment-objectives ol {
  list-style-type: lower-roman;
}

@media only screen and (max-width: 600px) {
  .about-main {
    width: 95%;
  }
}

@media only screen and (min-width: 1200px) {
  .about-main {
    width: 960px;
  }
}