main {
  width: 80%;
  max-width: 1100px;
  margin-top: 70px;
}
.footer-right {
  align-self: center;
  text-align: center;
}
.footer-right a:link, .footer-right a:active, .footer-right a{
  color: var(--font-color);
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  main {
    width: 95%;
    margin: 70px auto;
  }
}

@media only screen and (min-width: 1000px) {

}