.welcome-page-main {
  margin: 0 auto;
  width: 80%;
  min-width: 400px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.welcome-video-container {
  display: flex;
  flex-flow: column nowrap;
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  text-align: center;
}
.welcome-video-wrapper {
  margin: auto;
  position: relative;
  width: 100%;
  padding-top: 65%;
  background-color: var(--ndac-background-color);
  display: flex;
}
#welcome-video {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: var(--ndac-box-shadow);
}
.about-the-artists-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  max-width: 1000px;
}
.artist-card {
  width: 45%;
  padding: 15px 0;
  overflow: visible;
}
.ndac-bio-text {
  display:block;
  margin: auto;
  width: 98%;
  text-align: justify;
  font-size: 15px;
  background-color: var(--ndac-text-background);
  box-shadow: var(--ndac-box-shadow);
  overflow: visible;
  text-shadow: var(--ndac-text-shadow);
}

.ndac-headshot {
  width: 100%;
}
@media only screen and (max-width: 600px) {
  * {
    margin: none;
  }
  .welcome-page-main, .welcome-container {
    min-width: 400px;
    overflow: hidden;
  }
  .welcome-video-container {
    width: 100%;
    margin: none;
  }
  .welcome-video-wrapper {
    margin: none;
    width: 100%;
    min-width: 400px;
    max-width: none;
    min-height: fit-content;
  }
  .artist-card, .artist-card figure img {
    width: 100%;
    min-width: 250px;
  }
}