p, h2, h3, figcaption {
  background-color: var(--ndac-text-background);
  display: block;
  max-width: 85%;
  margin: 0 auto;
}

.notation-video-section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 0 auto;
}
.notation-video-wrapper {
  position: relative;
  width: 85%;
  margin: 0 auto;
  padding-top: 55%;
  overflow: hidden;
}
.notation-video-wrapper figure, 
.notation-video-wrapper iframe {
  width: 100%;
  height: 100%;
}
.notation-video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
} 
.notation-video,
.scores {
  width: 85%;
  margin: 0 auto;
}
.notation-h1 {
  width: 60vw;
  margin: 2vw 20vw;
  font-weight: bold;
  font-size: 3vw;
  text-align: center;
  background-color: var(--ndac-text-background);
}
.notation-h2 {
  font-weight: bold;
  max-width: 90vw;
  font-size: 2vw;
  margin: 1vw auto 1vw 0vw;
}
.scores p {
  max-width: 90vw;
  margin: 0 auto;
}
.ndac-notation-heading {
  width: 85%;
  margin: none;
  margin: 3vw 15vw 1vw 0vw;
}


@media only screen and (max-width: 600px) {
  p, h2, h3, figcaption {
    margin: 0 10px;
    max-width: 100vw;
  }
  .notation-h1 {
    margin: 0 auto;
    width: 100%;
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
  }
  .notation-h2 {
    font-weight: bold;
    font-size: 11px;
  }

  .notation-video {
    overflow: hidden;
    margin: 0 auto;
  }
  .notation-movement {
    width: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  .notation-h1 {
    font-size: 36px;
  }
  .notation-h2 {
    font-size: 24px;
  }
  .notation-video, .notation-figcaption{
    width: 840px;
  }
  .notation-video {
    height: 475px;
  }
}