p, h2, h3, figcaption {
  background-color: var(--ndac-text-background);
  padding: 10px 15px;
}
.notation-main {
  width: 85vw;
}
.notation-h1 {
  font-weight: bold;
  font-size: 3vw;
  text-align: center;
  background-color: var(--ndac-text-background);
  padding: 10px 15px;
}
.notation-h2 {
  font-weight: bold;
  font-size: 2vw;
}
.notation-video, .notation-figcaption{
  width: 85vw;
}
.notation-video {
  height: 45vw;
}
.notation-panels {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.notation-movement {
  width: 32%;
}
.movement-heading {
  width: 100%;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .notation-main {
    width: 98%;
  }
  .notation-h1 {
    font-size: 18px;
    margin-top: 60px;
    font-weight: bold;
    text-align: center;
  }
  .notation-h2 {
    font-weight: bold;
    font-size: 11px;
  }
  .notation-video, .notation-figcaption{
    width: 420px;
  }
  .notation-video {
    height: 237px;
    overflow: hidden;
  }
  .notation-panels {
    justify-content: center;
  }
  .notation-movement {
    width: 100%;
  }
}
@media only screen and (min-width: 601px) {

}
@media only screen and (min-width: 1200px) {
  .notation-h1 {
    font-size: 36px;
  }
  .notation-h2 {
    font-size: 24px;
  }
  .notation-video, .notation-figcaption{
    width: 840px;
  }
  .notation-video {
    height: 475px;
  }
}