:root {
  --ndac-header-footer-color: #4C8798;
  --ndac-font-color: rgb(0, 0, 0);
  --ndac-background-color: #77946b;
  --ndac-button-color: rgb(219, 233, 233);
  --ndac-text-background: rgba(225, 225, 225, 0.069);
  --ndac-box-shadow: 0 0 20px 1px rgba(81, 81, 81, 0.1);
  --ndac-text-shadow: 0 0 1px rgba(41, 41, 41, 0);
  --ndac-font-family: Verdana, sans-serif;
}

* {
  font-family: var(--ndac-font-family);
}

header, footer {
  background: var(--ndac-header-footer-color);
}

body {
  font-family: var(--ndac-font-family);
  color: var(--ndac-font-color);
  background: linear-gradient(rgba(255, 255, 255, 0.55), rgba(255, 255, 255, 0.55)), url("../assets/images/hamish_overlaid_background_1.png") repeat 50% 92%;
}

h1, h2, h3, h4 {
  display: inline-block;
  color: var(--ndac-font-color);
  text-shadow: var(--ndac-text-shadow);
}

p, figcaption {
  color: var(--ndac-font-color);
}



button {
  background: var(--ndac-button-color);
  color: var(--ndac-font-color);
  box-shadow: var(--ndac-box-shadow);
  border: 1px solid silver;
}

span {
  color: var(--ndac-font-color);
}

.ndac-header-title {
  font-size: 3vw;
  color: var(--ndac-font-color);
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  font-family: var(--ndac-font-family);
  font-weight: bold;
  font-style: italic;
  transition: all .3s;
}

.ndac-header-title:hover {
  font-weight: bolder;
  font-size: 3.15vw;
  text-shadow: var(--ndac-text-shadow);
  color: var(--ndac-font-color);
}

.ndac-title {
  color: var(--ndac-font-color);
  cursor: pointer;
  flex-flow: row nowrap;
  display: inline-block;
  overflow: hidden;
  font-family: var(--ndac-font-family);
  transition: all .2s;
}

.ndac-nav-container {
  display: flex;
  flex-grow: 3;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
}

.ndac-nav-container a {
  text-align: center;
  flex-grow: 2;
}
.transcript *{
  text-align: left;
  margin-top: 5px;
  color: var(--ndac-font-color);
  font-size: 18px;
  /* background-color: var(--ndac-text-background); */
}
.transcript summary {
  background-color: rgba(0,0,0,0);
}
.copyright, .copyright span {
  color: var(--ndac-font-color);
}

@media only screen and (max-width: 600px) {
  .ndac-header-title {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1000px) {
  .ndac-header-title {
    font-size: 30px;
  }
  .ndac-header-title:hover {
    font-size: 32px;
  }
}