.carousel {
  position: relative;
  height: calc((100vw * .5) + 7vw);
  width: 85vw;
  margin: 30px auto;
  margin-bottom: 50px;
}

.carousel__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel__track-container {
  position: relative;
  /* background-color: lightgreen; */
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.carousel__track {
  padding: 0;
  margin: 0;
  list-style: none;
  height: 100%;
  transition: transform 250ms ease-in;
}

.carousel__slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.carousel__button {
  position: absolute;
  top: calc(50% - 3vw);
  width: 5vw;
  height: 5vw;
  transform: translateY(-50%);
  background-color: rgba(206, 206, 206, 0.507);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
.carousel__button:hover {
  scale: 1;
  position: absolute;
}

.carousel__button--left {
  left: -0.7vw;
  z-index: 2;
}

.carousel__button--right {
  right: -.7vw;
  z-index: 2;
}

.carousel__button img {
  margin: .5vw .4vw;
  width: 4vw;
}

.carousel__nav {
  display: flex;
  justify-content: center;
}

.carousel__indicator {
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 50%; 
  margin: 1vw;
  height: 2vw;
  width: 2vw;
  cursor: pointer;
}

.carousel__indicator.current-slide {
  background-color: rgba(0, 0, 0, 0.8);
}

.movement-figure_image {
  height: calc(100vw * .5);
  width: 100vw;
}

.movement-figure_caption{
  background-color: var(--ndac-text-background);
  font-size: 2.5vw;
}


.is-hidden { display: none;}